<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @game.photo %>
</p>

<p>
  <strong>Writer:</strong>
  <%= @game.writer %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<p>
  <strong>Programmer:</strong>
  <%= @game.programmer %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @game.release_date %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @game.genre %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
