<p id="notice"><%= notice %></p>

<p>
  <!-- <strong>Image:</strong><br> -->
  <img src="<%= @country.image %>" alt="<%= @country.name %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @country.size %> km²
</p>

<p>
  <strong>Population:</strong>
  <%= @country.population %> Million
</p>

<p>
  <strong>Language:</strong>
  <%= @country.language %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @country.currency %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @country.continent.name %>
</p>

<div class="actions container">
  <%= link_to 'Edit', edit_country_path(@country), class: 'btn btn-default btn-sm' %> <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span><span class="glyphicon glyphicon-flash" aria-hidden="true"></span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
  <%= link_to 'Back', countries_path, class: 'btn btn-default btn-sm' %>
</div>
