<h1 class="indexheader">Books</h1>

<% if(locals.isAuthenticated) { %>
<a href="/books/new" class="btn btn-outline-success">Add</a>
<% } else { %>
  <% } %>
    <% books.forEach((book) => { %>
      <div class="container">
        <div class="row">
          <div>
            <a href="/books/<%= book.id %>"><h3><%= book.title %></h3></a>
            <h4><%= book.author %></h4>
            <p><%= book.description %></p>
            <% if(locals.isAuthenticated) { %>
                <a href="/books/<%= book.id %>/edit" class="btn btn-outline-primary">Edit</a>
                <form action="/books/<%= book.id %>" method="POST">
                  <input type="hidden" name="_method" value="DELETE"/>
                  <button class="btn btn-outline-danger">Delete</button>
                </form>
            <% } else { %>
            <% } %>
          </div>
        </div>
      </div>
    <% }); %>
