<h2><%= beverage.name %></h2>
<h4><%= beverage.type %></h4>
<p><%= beverage.abv %></p>
<p><%= beverage.origin %></p>
<img src="<%= beverage.image %>" alt="<%= beverage.name %>">

<a href="/beverages/<%= beverage.id %>/edit"></a>

<form method="POST" action="/beverages/<%= beverage.id %>">
<input type="hidden" name="_method" value="DELETE">
